/* Navbar Start */

.navbar {
 		background-color: #CC0000;
}
 .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
 	color: #ffffff;
 	font-size: 24px;
 }
 .navbar-default .navbar-nav>li>a:hover {
	background-color: black;
	color: #ffffff;
 }
  .navbar-default .navbar-brand>a {
	background-color: #CC0000;
	color: #ffffff;
  }
  .dropdown-menu {
  	font-size: 24px;
  	background-color: red;
  	color: #ffffff;
  }
  .dropdown-menu>li>a {
  	background-color: #000000;
  	color: #fff;
  }
  .dropdown-menu>li>a:hover {
  	background-color: red;
  	color: #fff;
  }
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #000000;
}

/* Navbar End */


hr {
  background-color: red; margin-top: 0; border-bottom: 11px solid red; border-top: 1px solid red;
}


.newsletter {
  background-color: green;
	/*border-color: #000000;*/
	/*border: 1px solid #000000;*/
	border-radius: 20px;
	/*color: white;*/
	font-size: 18px;
	width: 620px;
	height: 300px;
	/*text-align: justify;*/
	margin: auto;
  margin-top: 80px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.newslettercontainer {
  background-color: #F3FAB6; width: 100%; height: auto; padding: 10px;
}

.bookimage {
  float: left; padding-top: 90px; padding-left: 60px;
}

p {
	margin-left: 20px;
	margin-right: 20px;
	}

.newsletterbutton {
  /*background-color: #CC0000;*/
	background-color: #FF9009;
  	color: #ffffff;
	border-color: #000000;
	border-radius: 10px;
	width: 150px;
	height: 60px;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	margin: -20px -50px;
	top: 50%; 
  left: 50%;
}

.textalign {
	text-align: center;
}

h2 {
	text-align: center;
}

#portfolio {
  background-color: #CBE32D;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -20px;
}

#services {
  background-color: #A8CD1B;
  width: 100%;
  height: 420px;
  padding-top: 30px;
  margin-top: -20px;
  color: #ffffff;
}

#blog {
  background-color: lightblue;
  width: 100%;
  height: 670px;
  margin-top: -20px;
}

.blogpostleft {
  width: 530px; height: 220px; background-color: #ffffff; color: #000000; float: left; margin: 20px; padding: 20px;
}


.blogpostright {
  width: 530px; height: 220px; background-color: #ffffff; color: #000000; float: left; margin: 40px 20px 20px 20px; padding: 20px;
}

.testimonialsection {
  width: 100%; height: 650px; background-color: #d0d0d0; margin-top: -20px;
}

.testimonial {
  color: #ffffff; width: 33%; height: auto; margin: 2px; padding: 20px; float: left; border-radius: 20px;
}

#hiremeadvert {
  background-color: #B4151B;
  height: 355px;
  width: 100%;
  color: #ffffff;
}


/* Blockquote End */

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

/* Blockquote End */


/*.about {
	h2 {
		font-size: 3em;
		color: orange;
		letter-spacing: 2em;
}*/

.about {
  background: #005A31; color: white; font-size: 20px; height: 300px; padding-top: 20px; margin-top: -20px;
}

.aboutpara {
  padding-top: 20px; padding-bottom: 20px; margin-left: auto; margin-right: auto;
}

.hireme {
  background-color: #B4151B; height: 355px; width: 100%; color: #ffffff; margin-top: -20px;
}

button {
  height: 60px;
  width: 150px;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 10px;
  color: #000000;
  /*font-size: 14px;*/
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin: -20px -50px;
  top:50%; 
  left:50%;
}

.footercontainer {
  background-color: #3B3B3B /*#2D2C2A*/; color: #ffffff; height: 350px; margin-top: -20px;
}

.footerwidget {
  width: 25%; height: 100%; float: left; text-align: justify;
}

.footerul {
  list-style: none; padding: 0; margin: 0;
}

.socialconnect {
  background-color: #292929 /*#2D2C2A*/; color: #ffffff; height: 100px; text-align: center;
}

.socialicons {
  margin-top: 10px; margin-right: 20px;
}

.linered {
	background-color: red;
	height: 5px;
	margin-top: -5px;
	border-bottom: 5px solid red;
}

.pwhite {
	color: #ffffff;
}

body {
	margin: 0;
	padding: 0;
}
p {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}
